<!-- <p>indice-paciente works!</p> -->
<h2>Pacientes</h2>

<button mat-flat-button color='primary' routerLink="/pacientes/crear">Crear Paciente</button>
<br/>
<br/>
<button mat-flat-button color='primary' routerLink="/pacientes/editar">Editar Paciente</button>
<br/>
<br/>
<button mat-flat-button color='primary' routerLink="/pacientes/eliminar">Eliminar Paciente</button>
<br/>
<br/>
<button mat-flat-button color='primary' routerLink="/pacientes/ver">Ver Paciente</button>
<br/>
<br/>
<button mat-flat-button color='primary' routerLink="/pacientes/listar">Listar Pacientes</button>